@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-primary: #111827;
    --color-secondary: #4b5563;

    --color-blue: #5cb3cc;
    --color-blue-50: #e6f2f5;
    --color-blue-100: #b3e0e8;
    --color-blue-200: #80cddc;
    --color-blue-300: #4db9d0;
    --color-blue-400: #1aa6c4;
    --color-blue-500: #5cb3cc;
    --color-blue-600: #2c95ad;
    --color-blue-700: #1e7a90;
    --color-blue-800: #105e6e;
    --color-blue-900: #024653;
}

body {
    font-family: var(--font-roboto-condensed), var(--font-noto-sans-tc);
}

@layer base {
    a {
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }
}

@layer utilities {
    a:hover {
        color: var(--color-blue);
    }
}