/* @font-face {
    font-family: huninn;
    src: url(https://raw.githubusercontent.com/justfont/open-huninn-font/master/font/jf-openhuninn-1.0.ttf);
} */
* {
    /*font-family: 'Noto Sans TC', sans-serif;*/
    /* font-family: 'cwTeXYen', sans-serif; */
    font-family: 'huninn', sans-serif;
}
.global-bar-container::selection, .global-bar::selection {
    text-shadow: 2px 2px 8px #FFF!important;
    /* background-color:rgba(255, 237, 118, 0.5); */
    background-color:rgba(255, 255, 255, 0.5)!important;
    color:#FFF!important;
}
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    transition: left 1s ease-in-out, background 1s ease-out 1s;
}
::-webkit-scrollbar-thumb {
    background: #ffdf01; 
}
::-webkit-scrollbar-thumb:hover {
    background: #dfc100; 
}
::-webkit-scrollbar-thumb:active {
    background: #000; 
}
.global-bar {
    height: 35px;
    color: #FFF;
    background: #041221;
    width:90%;
    margin :0 auto 0 auto;
}
.global-bar-container {
    color: #FFF;
    /* text-align:center; */
    line-height:35px;
}
.global-bar-container a {
    color: #ffffff;
    text-decoration: none;
    transition:all 0.1s ease-in-out 0s;
}
.global-bar-container a:hover {
    color: #eeeeee;
    text-decoration: none;
}
.global-bar-container ul {
    list-style-type: none;
}
.global-bar-container li {
    float: left;
    display: block;
    margin-right: 10px;
}