.photos-banner {
    width:100%;
    background: linear-gradient(rgba(207, 216, 220 , 0.5), rgba(252, 228, 236, 0.5)), url('https://img.imych.one/me/images/v2/cover/crop.jpg');
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    color:#000;
    min-height:520px;
}
.photos-logopt {
    line-height: 1.2;
    letter-spacing: 3px;
    font-weight:800;
    color:#000;
    text-shadow: 2px 2px 8px #FFF;
    padding-top:150px;
}
.photos-logopt-border {
    min-width:35%;
    max-width:45%;
    /* phone max-width: 65%; */
    padding:30px 25px;
    border: 1px solid #ffdf01;
    padding: 10px;
    box-shadow: 5px 10px #ffdf01;
    transition:all 0.2s ease-in-out 0s;
}
.photos-logopt-border:hover {
    border: 1px solid #FFF;
    box-shadow: 5px 10px #FFF;
    background:#ffdf01;
}
.photos-logopt-border a#logo {
    color:#000;
}
.photos-logopt-border a#logo:hover {
    text-decoration: none;
}
.photos-logopt .photos-title {
    font-size: 45px;
}
.photos-logopt .photos-subtitle {
    font-size: 40px;
}
.photos-container {
    margin:-155px auto 0 auto;
    letter-spacing: 2px;
}
.photos-cd-title {
    color: #ffdf01;
    font-size: 35px;
    font-weight: 600;
    line-height: 2;
    letter-spacing: 6px;
    text-shadow: 2px 2px 5px #bababa;
}
.photos-container .column .card {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #AAA;
    transition:all 0.1s ease-in-out 0s;
}
.photos-container .column .card:hover {
    border: 1px solid;
    padding: 10px;
    margin: 5px 0 -5px 10px;
    box-shadow: 10px 5px #ffdf01;
}
.cd-icon {
    line-height: 1.2;
    color:#7a7a7a;
    padding:3px 0 3px 6px;
}
.media .cd-title {
    color:#7a7a7a;
    border-left:solid 5px #ffdf01;
    padding:6px 0 3px 6px;
    margin-bottom: 10px;
}
.media .cd-description .cd-subtitle {
    word-break: break-all;
}
.media .cd-subtitle {
    color:#888888;
}
.media::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background:#bababa;
}
.media::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 5px;
    background:#ffdf01;
    bottom: 0;
    left: 0px;
}
.column {
    transition:width 0.2s ease-in-out 0s;
}
@media screen and (max-width: 768px) {
    .photos-banner {
        background: linear-gradient(rgba(207, 216, 220 , 0.5), rgba(146, 133, 138, 0.5)), url('https://img.imych.one/me/images/v2/cover/crop.jpg');
        background-color: #cccccc; /* Used if the image is unavailable */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        background-attachment: fixed;
        color:#000;
        min-height:520px;
    }
    .photos-logopt-border {
        max-width: 70%;
    }
    .photos-container .column .card {
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
        transition:all 0.1s ease-in-out 0s;
    }
    .photos-container .column .card:hover {
        border: 1px solid;
        padding: 10px;
        margin: 0;
        box-shadow: 5px 10px #ffdf01;
    }
    .photos-cd-title {
        font-size: 30px;
        width:calc(50% + 45px);
        margin-left: 30px;
        text-align: center;
        border-radius: 40px 40px 0 0;
        text-shadow: 2px 2px 5px #919191;
        background-color:rgb(206, 188, 71, 0.7);
    }
}
@media screen and (max-width: 370px) {
    .photos-logopt {
        padding-top:120px;
    }
@media (min-width:769px) and (max-width:1024px){

}